<!DOCTYPE html>
<html>
    <head>
        <title>{{page_title}}</title>
        <script src="/javascripts/jquery-1.6.2.min.js" type="text/javascript" charset="utf-8"></script>
        <link type="text/css" rel="stylesheet" href="/stylesheets/style.css">
    </head>
    <body>
    {{{body}}}
    </body>
</html>